.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
02-data/00-source/*
02-data/03-results/real_fits/*

!02-data/03-results/noRanEff-1.csv
!02-data/03-results/noRanEff-2.csv
!02-data/03-results/noRanEff-3.csv
!02-data/03-results/noRanEff-4.csv
!02-data/02-for_analysis

!02-data/01-preprocessed
!02-data/03-results/pila_fecd-1.csv
!02-data/03-results/pila_fecd-2.csv
!02-data/03-results/pila_fecd-3.csv
!02-data/03-results/pila_fecd-4.csv
!02-data/03-results/pila_growth-1.csv
!02-data/03-results/pila_growth-2.csv
!02-data/03-results/pila_growth-3.csv
!02-data/03-results/pila_growth-4.csv
!02-data/03-results/pila_surv-1.csv
!02-data/03-results/pila_surv-2.csv
!02-data/03-results/pila_surv-3.csv
!02-data/03-results/pila_surv-4.csv

!02-data/03-results/pila_fecd_nh-1.csv
!02-data/03-results/pila_fecd_nh-2.csv
!02-data/03-results/pila_fecd_nh-3.csv
!02-data/03-results/pila_fecd_nh-4.csv
!02-data/03-results/pila_growth_nh-1.csv
!02-data/03-results/pila_growth_nh-2.csv
!02-data/03-results/pila_growth_nh-3.csv
!02-data/03-results/pila_growth_nh-4.csv
!02-data/03-results/pila_surv_nh-1.csv
!02-data/03-results/pila_surv_nh-2.csv
!02-data/03-results/pila_surv_nh-3.csv
!02-data/03-results/pila_surv_nh-4.csv

!02-data/03-results/pila_fecd_size-1.csv
!02-data/03-results/pila_fecd_size-2.csv
!02-data/03-results/pila_fecd_size-3.csv
!02-data/03-results/pila_fecd_size-4.csv
!02-data/03-results/pila_growth_size-1.csv
!02-data/03-results/pila_growth_size-2.csv
!02-data/03-results/pila_growth_size-3.csv
!02-data/03-results/pila_growth_size-4.csv
!02-data/03-results/pila_surv_size-1.csv
!02-data/03-results/pila_surv_size-2.csv
!02-data/03-results/pila_surv_size-3.csv
!02-data/03-results/pila_surv_size-4.csv